.contactsBlock{
    height: 50vh;
    background-color: #efe79c;
}

.form{
    border: 1px solid;
    background-color: #b79ecc;
    display: flex;
    flex-direction: column;
    width: 300px;
}
.form input{
margin-bottom: 20px;
}

.contactsContainer{
    flex-direction: column;
    justify-content: space-around;
}

.title{
    background-color: #79489d;
}