.footerBlock {
    height: 30vh;
    background-color: #9cdcf5;
}

.footerContainer {
    flex-direction: column;
}

.apps {
    width: 400px;
    height: 50px;
    background-color: #a8a2a2;
    display: flex;
    justify-content: space-between;
}

.app{
    height: 50px;
    width: 50px;
    background-color: #e2ffb7;

}