.footerBlock {
    height: 30vh;
    background-color: #9cdcf5;
}

.footerContainer {
    flex-direction: column;
}

.apps {
    width: 280px;
    height: 40px;
    background-color: #a8a2a2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid;
}

.app{
    height: 40px;
    width: 40px;
    background-color: #e2ffb7;

}